---
title: Welcome to Middleman
---
.welcome
  %h1 Muskox: Parser Generator for Parser Security
  :markdown
    * [Github Repo](https://github.com/baroquebobcat/muskox)
    * Presentations
      * Rocky Mountain Ruby 2013 Lightning Talk [slides](presentations/rmr13.html)